
.pdf-button{
  border: 2px solid lavender;
  border-radius: 14px;
  padding-top: 8px;
  background-color:lavender;
}

.search-header {
  height: 75px;
  display: flex;
  flex-direction: row;
}

.search-bar {
  width: 45%;
}

.element {
  padding: 10px;
}
